In [44]:
import pandas as pd
import numpy as np
#import import_ipynb
#import data_cleaning another way of loading an existing file inside this jupyter notebook.

In [3]:
train_clean = pd.read_csv('./output/train_clean.csv', index_col="id")

In [4]:
train_clean.head()

    carat  cut  color  clarity  depth  table     x  price
id
0    0.50    5      7        4   62.3   55.0  5.11   1845
1    1.54    2      2        5   63.6   60.0  7.30  10164
2    1.32    3      1        2   61.7   60.0  6.95   5513
3    1.20    5      2        3   62.1   55.0  6.83   5174
4    1.73    4      2        3   61.2   60.0  7.67  10957

# Modeling, Prediction, and Evaluation

We'll start off this section by splitting the data to train and test. Name your 4 variables X_train, X_test, y_train, and y_test. Select 90% of the data for training and 10% for testing.

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
y=train_clean[['price']]
X=train_clean.drop(labels='price', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.10)

In [7]:
from sklearn.tree import DecisionTreeRegressor

In [29]:
# Definimos el algoritmo a utilizar. Utilizaremos el modelo de Decision Tree Regressor. 
# Una vez definido, entrenamos nuestro modelo con los datos correspondientes.
# Para ello, utilizamos la instruccion fit.

dtr = DecisionTreeRegressor(max_depth = 8)
dtr.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=8)

In [30]:
#realizamos la prediccion utilizando los datos de prueba X_test
y_pred_test = dtr.predict(X_test) 
y_pred_train = dtr.predict(X_train)

In [31]:
# Procedemos a calcular la precisión del algoritmo, para ello utilizamos la instruccion r2_score.

from sklearn.metrics import r2_score
print("R2 for the testing set is: ", r2_score(y_test,y_pred_test))
print("R2 for the training set is: ", r2_score(y_train,y_pred_train))

R2 for the testing set is:  0.9677956294738217
R2 for the training set is:  0.9715797986323914

In [32]:
# Cuanto más cercano a 1 sea el valor R2, mejor será nuestro modelo.

In [33]:
from sklearn.metrics import mean_squared_error

rmse_test = mean_squared_error(y_test, y_pred_test)**0.5
rmse_train = mean_squared_error(y_train, y_pred_train)**0.5

print("Root mean squared error (test): ",rmse_test)
print("Root mean squared error (train): ",rmse_train)

Root mean squared error (test):  722.9142823457993
Root mean squared error (train):  675.5956915767416

In [13]:
# Este error cuadratico medio (rmse) obtenido de 722.91 mide la cantidad de error que hay entre dos conjuntos de datos. 
# Compara un valor predicho y un valor observado o conocido.

In [49]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(dtr,X,y, cv=10)
print("The accuracy of this model is: ", np.mean(scores))

The accuracy of this model is:  0.9679359313365644

In [34]:
#Cargamos el predict_clean csv que añadirá la columna price a dicho csv.
predict_clean = pd.read_csv('./output/predict_clean.csv', index_col="id")

In [35]:
predict_clean.head()

    carat  cut  color  clarity  depth  table     x
id
0    0.45    4      6        3   62.8   58.0  4.88
1    1.23    5      3        3   61.0   56.0  6.96
2    0.33    5      2        8   61.8   55.0  4.46
3    0.51    4      7        4   58.0   60.0  5.29
4    0.40    4      6        4   62.2   59.0  4.71

In [36]:
X_test = predict_clean

In [37]:
y_pred = dtr.predict(X_test)
y_pred

array([ 884.71546961, 6753.07467532,  654.45384615, ...,  913.12173913,
        785.09029165, 4632.40883978])

In [38]:
predict_clean['price'] = y_pred
predict_clean['price']

id
0         884.715470
1        6753.074675
2         654.453846
3        1864.274399
4         973.956240
            ...
13480     498.458728
13481    4253.957746
13482     913.121739
13483     785.090292
13484    4632.408840
Name: price, Length: 13485, dtype: float64

In [40]:
predict_clean['price'].to_csv('output/2_decision_tree_test.csv') #to save the generated dataframe in a csv.